* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
}

body {
  margin: 0;
}

.listen,
.and,
.choose {
  font-family: "Modak", system-ui;
  font-size: 200px;
  color: #ff9418;
  position: relative;
  z-index: 1;
  letter-spacing: 5px;
}

.and {
  color: #6A847E;
}

.choose {
  color: #6CB6EB;
  font-size: 170px;
  text-align: center;
  position: relative;
  bottom: 137px;
  left: 0;
}

.listen::before,
.and::before {
  position: absolute;
  top: 50%;
  left: 49%;
  z-index: -1;
  content: "Listen";
  font-size: 220px;
  color: #fff;
  letter-spacing: -5px;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.and::before {
  content: "&";
  left: 45%;
}

.choose::before {
  content: "Choose";
  position: absolute;
  top: 50%;
  left: 49%;
  z-index: -1;
  font-size: 193px;
  color: #fff;
  letter-spacing: -8px;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

@media (max-width: 1024px) and (orientation: landscape) {

  .listen,
  .and,
  .choose {
    font-size: 80px;
  }
  .choose{
    bottom: 70px;
  }
  
  .choose::before {
    font-size: 90px;
    letter-spacing: -1px;
  }

  .listen::before,
  .and::before {
    position: absolute;
    top: 50%;
    left: 49%;
    z-index: -1;
    font-size: 95px;
    color: #fff;
    letter-spacing: -3px;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }
  
}

.clickable {
  cursor: pointer;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: 4;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black */
  z-index: 3;
  /* ensure it's on top of other content */
  display: none;
  /* initially hidden */
}

.ExclamationMarkText {
  white-space: nowrap;
  background-color: #fff;
  top: 8px;
  left: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  z-index: 0;
  display: none;
  visibility: hidden;
  opacity: 0;
  animation-delay: 0.5s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.result {
  display: none;
}

.result .result__content {
  z-index: 4;
}

.result__exit {
  width: 50px;
  height: 50px;
  background-color: #f9dc80;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: #edfbff;
  cursor: pointer;
}

.backGroundImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.score__progress {
  position: absolute;
  top: 60%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 170px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.score__progress>span {
  display: block;
  width: 0%;
  height: 80%;
  background-color: #12ab0f;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.score__progress__img {
  z-index: 0;
}

@media (max-width: 991px) and (orientation: landscape) {
  .control img {
    width: 50px;
    height: 50px;
  }

  .score__progress {
    height: 26px;
    width: 120px;
    right: 11px;
  }

  .score img {
    width: 30px;
    height: 51px;
  }

  .result .result__content {
    width: 300px;
  }
}

.gameWrapper {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.gameWrapper .bg {
  display: none;
}

.gameWrapper .bg img,
.gameWrapper .start-game-bg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.owl-carousel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-30%);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .owl-carousel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}

.owl-carousel>* {
  overflow: visible;
}

.slide {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.start-game-icon {
  position: absolute;
  left: 83%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 100;
  cursor: pointer;
}

/* Start Screen One */
.screen__one {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.screen__one__content {
  width: 80%;
  height: 70%;
  padding: 40px;
  margin: 0 auto;
  border: #888888 8px solid;
  z-index: 100;
  border-radius: 33px;
  background-color: #fff;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  -ms-border-radius: 33px;
  -o-border-radius: 33px;
}

.screen__one__content .images {
  width: inherit;
  gap: 150px;
}

.screen__one__content .images div {
  background-color: #edfbff;
  padding: 50px 30px;
  border-radius: 30px;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f9dc80;
  transition: 0.6s;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.screen__one__content .images {
  width: inherit;
  height: inherit;
  padding: 60px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.screen__one .mic__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #f9dc80;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.screen__one .mic__icon img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .screen__one__content .images {
    gap: 50px;
    padding: 0;
  }

  .screen__one__content .images div {
    padding: 30px 20px;
  }

  .screen__one__content {
    margin-top: 0px;
    padding: 0px;
  }

  .circle {
    width: 50px;
    height: 50px;
  }

  .screen__one .mic__icon {
    width: 70px;
    height: 70px;
  }
}

/* End Screen One */
/* Start Game Four */
.mic-four {
  bottom: -56px;
  left: 8%;
  width: 110px;
  height: auto;
}

.mic-four img {
  width: 100%;
  height: 100%;
}

/* End Game Four */
/* Start Game Five */
.result__content_five {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

/* Start Game Five */

.owl-nav .owl-prev,
.owl-nav .owl-next {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 100;
  margin-left: 10px;
}

.owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
  margin-right: 10px;
}

.scale-in-center {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-in-top {
  animation: scale-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: scale-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.jello-vertical {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-top {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


/* Popup Module */

.pop-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
}

.popup {
  width: 70vw;
  height: 40vh;
  max-height: 90%;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  visibility: hidden;
}
.popup .phone {
  width: 2.5rem;
  height: 4.5rem;
  position: relative;
  flex-shrink: 0;
  border: 0.1875rem solid #000;
  border-radius: 0.3125rem;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: rotatePhone;
  animation-duration: 2s;
}
.popup .phone::after {
  content: "";
  width: 100%;
  border-bottom: 0.1875rem solid #000;
  position: absolute;
  left: 0;
  top: 9%;
}
.popup .phone::before {
  content: "";
  width: 100%;
  border-bottom: 0.1875rem solid #000;
  position: absolute;
  left: 0;
  bottom: 9%;
}
.popup .message {
  font-family: DarumadropOne-Regular;
  text-transform: uppercase;
  font-size: 3rem;
}

@keyframes rotatePhone {
  0%,
  10% {
    transform: rotate(0deg);
  }
  40%,
  60% {
    transform: rotate(90deg);
  }
  95%,
  100% {
    transform: rotate(0deg);
  }
}
